<form action="{{form.action}}" method="{{form.method}}">
    {{> form_fields fields=form.nodes }}
    {{#if submitLabel}}
        <button type="submit" class="button is-link is-rounded">{{submitLabel}}</button>
    {{/if}}
</form>
