<script>
    const togglePasswordVisible = () => {
        const input = document.querySelector('input[name="password"]')
        const newType = input.getAttribute('type') === 'password' ? 'text' : 'password'
        input.setAttribute('type', newType);

        return false;
    }
</script>
<div class="control">
    <a class="button is-info" onclick="togglePasswordVisible()">
        <span class="icon">
            <i class="fas fa-eye"></i>
        </span>
    </a>
</div>
